@model PandaWeb.Models.Course
@{
    ViewBag.Title = "UploadDocuments";
    Layout = "~/Views/Shared/_LayoutEducation.cshtml";
}

<h2>Kursmaterial</h2>
<p>Här kan du ladda upp material</p>

@Html.BeginForm("Save", "Document", new {id=Model.Id}, FormMethod.Post, new { enctype ="multipart/form-data"})
            <input type="file" name="Uploaded File" />
            <input type="submit" name="Submit" value="Submit" />

