@*@model IEnumerable<PandaWeb.Models.EducationPlan>*@
@model PandaWeb.Models.EducationPlan

@{
    Layout = "~/Views/Shared/_LayoutEducation.cshtml";
    
}

<h2>
    Välkommen till @Html.DisplayFor(model => model.Name)!
</h2>
<p>
    Meddelande om denna utbildning
@Html.DisplayFor(model => model.EducationId)    
</p>

<div class="education">
    @Html.DisplayText("Här visas alla kurser")
    @Html.Action("Course", new { id=2})
</div>