@model PandaWeb.Models.Course

@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_LayoutEducation.cshtml";
}

<h2>Course</h2>

<p>
    Lägg in alla kurser för den här utbildningen 
</p>