@model PandaWeb.ViewModels.IndexVM

@{
    ViewBag.Title = "";

}
<div>
    <table>
        <tr>
            <td>
              Kursid:  @Html.DisplayFor(model => model.EducationId)
            </td>
            <td>
               Kursnamn: @Html.DisplayFor(model => model.Name)
            </td>
            <td>
              Kursstart:  @Html.DisplayFor(model => model.StartDate)
            </td>
            <td>
               Kursslut: @Html.DisplayFor(model => model.EndDate)
            </td>
        </tr>
    </table>
</div>
