@model PandaWeb.Models.EducationPlan

@{
    ViewBag.Title = "EducationPlan";
    Layout = "~/Views/Shared/_LayoutEducation.cshtml";
}

<h2>Systemutveckling</h2>
<p>
    Meddelande från PandaWeb om Systemutveckling
</p>

