
@{
    ViewBag.Title = "LG";
    Layout = "~/Views/Shared/_LayoutEducation.cshtml";
}

<h2>LG-Information</h2>
<p>
    -Kommande möten
    <br />
    -Protokoll från tidigare möten
    <br/>
    - Medlemmar
    <br/>
    -Val/[Val]
</p>

