@model IEnumerable<PandaWeb.Models.Documents>

@{
    ViewBag.Title = "LG";
    Layout = "~/Views/Shared/_LayoutEducation.cshtml";
}

<h2>LG-Information</h2>
<p>
    @Html.ActionLink("Kommande möten","Show")
    <p>
    Nästa möte:
    </p>
    <br />
    -Protokoll från tidigare möten
    <br/>
    - Medlemmar
    <br/>
    -Val/[Val]
</p>

