
@{
    ViewBag.Title = "UP";
    Layout = "~/Views/Shared/_LayoutEducation.cshtml";
}

<h2>Utbildningsplan</h2>
@*<p>Vi måste använda oss av partial vy? Alternativt skapa unika sidor för varje UP</p>*@

<h3>Del 1 i dokumentet</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<label>Kommentera:</label>
<textarea rows="2" cols="50" name="comments"></textarea>
<input type="submit" name="Submit" value="Submit" />

<h3>Del 2 i dokumentet</h3>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<label>Kommentera:</label>
<textarea rows="2" cols="50" name="comments"></textarea>
<input type="submit" name="Submit" value="Submit" />

<h3>Del 3 i dokumentet</h3>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<label>Kommentera:</label>
<textarea rows="2" cols="50" name="comments"></textarea>
<input type="submit" name="Submit" value="Submit" />