@{
    ViewBag.Title = "About";
}

<h2>Panda Web</h2>

<p>Välkommen till Panda Web
	<br/>
	Panda Web är en lärportal där du har möjlighet att logga in och se kursmaterial, föreslå ändringar m.m.
	<br/>
	För att få inloggningsuppgifter, ta kontakt med din lärare.
</p>
