@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    WTC<br/>
    Klarabergsviadukten 70, D5<br/>
    Kungsbron 1, D5<br/>
    111 64 Stockholm<br/>
    <abbr title="Phone">Phone:</abbr>
    0771-650 600
</address>

<address>
    <strong>Support:</strong><a href="mailto:info@lernia.se"> info@lernia.se </a><br />
    
</address>