@{
    ViewBag.Title = "Panda";
}

<div class="jumbotron">
    <h1>Pandas Skolportal</h1>
    <p class="lead"></p>
    <p></p>
</div>

@Html.Action("Edu")

<div class="row">
    <input type="button" title="UploadDocuments" value="Ladda upp dokument" onclick="location.href='@Url.Action("Uploaddocuments", "Document")'"/>
    <input type="button" title="ShowDocuments" value="Se dokument" onclick="location.href='@Url.Action("Showdocuments", "Document")'"/>
</div>