@{
    ViewBag.Title = "Panda";
}

<div class="jumbotron">
    <h1>Pandas Skolportal</h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
 
        <h2>Getting started</h2>
        <p>
           Lista över Utbildningar
            <ul>
              <li>
                  @Html.ActionLink("Backendutveckling", "Backendutveckling", "Education") 
              </li>
                <li>
                @Html.ActionLink("Systemutveckling", "Systemutveckling", "Education")

                </li>
                
            </ul>
        </p>
</div>

<div class="row">
    <input type="button" title="UploadDocuments" value="Ladda upp dokument" onclick="location.href='@Url.Action("Uploaddocuments", "Document")'"/>
    <input type="button" title="ShowDocuments" value="Se dokument" onclick="location.href='@Url.Action("Showdocuments", "Document")'"/>
</div>